django-fiction-outlines>=0.3.1
django-rest-framework-rules
djangorestframework
coreapi
django-filter==23.2
Markdown
-e git+https://github.com/maceoutliner/django-taggit-serializer.git#egg=taggit_serializer
