django-fiction-outlines>=0.3.1
django-rest-framework-rules
djangorestframework
coreapi
django-filter
Markdown==3.3.6
-e git+https://github.com/maceoutliner/django-taggit-serializer.git#egg=taggit_serializer
