django>=2.0
-e git+https://github.com/maceoutliner/django-taggit-serializer.git#egg=taggit_serializer
django-fiction-outlines
djangorestframework
django-rest-framework-rules==1.0.0
-r ../test_requirements.txt
