django>=2.0
-e git+https://github.com/maceoutliner/django-taggit-serializer.git#egg=taggit_serializer
django-fiction-outlines==0.4.0
djangorestframework
django-rest-framework-rules
-r ../test_requirements.txt
